.vc-link {
    $el: &;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.29);
    border-radius: 15px;
    padding: 30px;

    &--icon {
        @extend .vc-link;
        border-radius: 0;
        box-shadow: none;
        text-align: center;
    }
      
    &__ttl {
        color: #ed8166;
        font-weight: 1.8rem;
        margin-bottom: 15px;
    }

    &__col {
        &:not(:last-child) {
            padding-right: 15px;

            &::after {
                background-color: #dadada;
                content: "";
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
            }
        }
    }

    &__item {
        color: #000;
        display: block;
        font-size: 1.6rem;
        margin-bottom: 15px;
        transition: color .5s;

        i {
            display: block;
            margin-bottom: 15px;
            text-align: center;
        }

        span {
            display: block;
            font-size: 1.6rem;
            text-align: center;
        }

        img {
            filter: brightness(0%);
            transition: filter .5s;
        }

        &:hover {
            color: #ed8166;
            text-decoration: none;

            img {
                filter: brightness(100%);
            }
        }
    }
}