.vc-partner {
    $el: &;
    overflow: hidden;
    padding: 50px 0;
    position: relative;

    .swiper-pagination {
        bottom: 0;
        margin-top: 30px;
        position: relative;
        text-align: center;
        width: 100%;

        &-bullet {
            background-color: #e4451d;
            border-radius: 5px;
            border: 0;
            height: 5px;
            margin: 0 3px;
            opacity: 1;
            position: relative;
            transition: background-color .5s;
            width: 30px;
            
            &-active {
                background-color: rgba(#e4451d, .5);
            }
        }
    }

    &__avatar {
        display: inline-block;
        padding-top: calc(240 * 100% / 345);
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            height: 100%;
            left: 50%;
            margin: auto 0;
            object-fit: contain;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            transition: transform .5s;
            z-index: 1;
        }

        &:hover {
            text-decoration: none;

            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    &__ttl {
        color: #000;
        font-size: 1.6rem;
        transition: color .5s;

        &:hover {
            color: #f68e56;
            text-decoration: none;
        }
    }

    @include down (lg) {}

    @include down (md) {}

    @include down (sm) {
        &__ttl {
            font-size: 1.5rem;
        }

        .swiper-pagination {
            margin-top: 15px;
        }
    }
}